* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

body {
    overflow-x: hidden;
}

/* hdr */
.navbar {
    width: 100%;
    height: 100px;
    background-color: #F9F6F6;
}

.nav-item {
    padding: 0 25px;
}

.nav-item a {
    font-family: montserrat, sans-serif;
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
}


/* hide-hdr */
.d-hide {
    display: none !important;
}
.side-menu {
    top: 0;
    right: 0;
    width: 50%;
    height: 100%;
    z-index: 9999;
    background-color: #303030;
    transform: translate3d(100%, 0, 0);
    transition: transform .5s ease;
    position: fixed;
}
.side-menu-active {
    transform: translate3d(0, 0, 0);
    display: none;
}
.inner {
    height: 100%;
    position: relative;
    overflow-y: auto;
    text-align: center;
}
.s-nav {
    margin-bottom: 0;
}
.s-nav ul {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    margin-left: 0;
    margin-top: 50px;
}
.s-nav ul li {
    opacity: 0;
    margin: 10px 0;
    padding: 0 !important;
}
.side-menu-active .s-nav ul li {
    transform: translateY(0);
    opacity: 1;
}
.s-nav ul a {
    color: #ffffff;
    font-size: 21px;
    line-height: normal;
    position: relative;
    border-radius: 0;
    text-decoration: none;
    text-transform: uppercase;
    font-family: poppins, sans-serif;
    margin-left: 0;
}
.i-con {
    color: rgb(255, 255, 255);
    font-size: 30px;
    display: flex;
    justify-content: end;
    padding: 36px 50px 0 0;
}
.inner h4 {
    color: #ffffff;
}
.inner p {
    color: #ffffff;
    padding: 20px 100px 0px;
}
.inner h4 a {
    color: #ffffff !important;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0px;
    margin-right: 8px;
}



/* slide tx */
.slide-bg {
    padding: 70px 0px 100px 0px;
    background-color: #F9F6F6;
}

.slide-tx h6 {
    color: #303030;
    font-family: montserrat, sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: 400;
    letter-spacing: 4px;
    text-transform: uppercase;
    padding-bottom: 16px;
}

.slide-tx h2 {
    color: #000;
    font-family: poppins, sans-serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 300;
    letter-spacing: 0;
    padding-right: 256px;
    padding-bottom: 44px;
}

/* home img-fix */
.home-img {
    background-image: url(../img/about.jpg);
    width: 100%;
    height: 760px;
    background-size: cover;
    background-attachment: fixed;
}

/* about-tx */
.tx-bg{
    padding: 135px 0 14px;
}
.about-tx h3{
    color: #000;
    font-family: poppins,sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    margin-bottom: 16px;
}
.about-tx h4{
    color: #525252;
    font-family: poppins,sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    margin-bottom: 16px;
}
.about-tx h5{
    color: #525252;
    font-family: poppins,sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
}


/* tx and img 1 */
.tx-img-bg {
    padding: 121px 0 0;
}

.tx-box {
    margin: 10% 0;
    padding: 0 31% 0 22%;
    background: #f6f6f6;
}

.tx-box h3 {
    color: #000;
    font-family: poppins, sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    padding-top: 10px;
    margin-bottom: 14px;
}

.tx-box h5 {
    color: #525252;
    font-family: poppins, sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
    margin-bottom: 34px;
}

.tx-box .btn {
    padding: 12px 48px;
    border-radius: 0;
    border: 1px solid #000;
    color: #000;
    margin-bottom: 18px;
}

.tx-box .btn:hover {
    background: #000;
    color: #fff;
}

.tx-img1 {
    background-image: url(../img/tx-img.jpg);
    width: 100%;
    height: 553px;
    background-size: cover;
}


/* slider */
.slider-bg {
    padding: 137px 0 13px;
}

.slide {
    padding: 10px;
}

.s-img {
    background-image: url(../img/slider-img.png);
    height: 20px;
    width: 22px;
}

.slider-tx h3 {
    color: #000;
    font-family: poppins, sans-serif;
    font-size: 40px;
    line-height: 48px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}

.slider-tx p {
    font-family: Poppins, sans-serif;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    color: #525252;
    margin-top: 20px;
    padding: 0 20%;
    text-align: center;
}

.slider-tx h5 {
    margin-top: 44px;
    color: #808285 !important;
    text-align: center;
    padding: 0 20%;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    line-height: 19px;
    font-weight: 300;
}

.carousel-control-prev-icon {
    background-image: url(../img/download.svg);
}

.carousel-control-next-icon {
    background-image: url(../img/download\ \(1\).svg);
    transform: rotate(180deg);
}

/* footer */
.footer-bg{
    padding-top: 144px;
    padding-bottom: 90px;
    background: #f6f6f6;
}
.f-tx1 p{
    padding-right: 25%;
    margin-top: 14px;
    font-family: poppins,sans-serif;
    font-size: 17px;
    line-height: 25px;
    font-weight: 300;
}
.f-tx1 h4 a{
    color: #000000 !important;
    font-size: 20px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: 0px;
    margin-right: 8px;
}
.f-tx2 h5{
    font-family: poppins,sans-serif;
    font-size: 20px;
    line-height: 48px;
    font-weight: 300;
    color: #000;
}
.f-tx2 a{
    font-family: poppins,sans-serif;
    font-size: 14px;
    color: #525252;
    line-height: 25px;
    font-weight: 300;
}
.f-tx2 a:hover{
    color: #000;
}

/* copy-right */
.b-top {
    border-top: 1px solid #dadada;
    background: #f6f6f6;
}
.copyright-tx {
    font-family: poppins, sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: #808285;
    text-align: center;
    padding: 16px 0px;
    margin-bottom: 0;
}
.copyright-tx a {
    font-family: poppins, sans-serif;
    font-size: 14px;
    line-height: 23px;
    font-weight: 400;
    color: #808285;
    text-align: center;
    padding-top: 16px;
}
.copyright-tx a:hover {
    color: #000;
}


/* button fix  */
.demo1 {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border: 1px solid #000;
    position: fixed;
    bottom: 53px;
    right: 30px;
    visibility: hidden;
    z-index: 11;
}
.demo1:hover{
    background-color: #000;
}
.demo1:hover i{
    color: #fdfdfd;
}
.demo1 i{
    font-size: 30px;
    color: #0a0a0a;
}
.test1 {
    visibility: visible;
    opacity: 1;
    cursor: pointer;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* responsive */
@media(max-width:992px) {
    .tx-box {
        padding: 0 25% 0 22%;
        margin: 0;
    }
    .tx-img1 {
        height: 441px;
    }
    .slider-bg {
        padding: 110px 0 13px;
    }
    .container {
        max-width: 895px;
        padding: 0 15px;
    }
    .tx-bg {
        padding: 105px 0 14px;
    }

    /* ftr */
    .footer-bg {
        padding-top: 100px;
        padding-bottom: 90px;
    }

    /* open-heder */
    .navbar-expand-lg {
        justify-content: space-around;
    }
    .navbar>.container-fluid {
        display: none;
    }
    .d-hide {
        display: block !important;
    }
    .my-tog-btn {
        display: grid;
        padding-top: 11px;
        height: auto;
        width: 35px;
    }
    .my-tog-btn span {
        background-color: #222;
        margin-bottom: 10px;
        height: 2px;
        width: 100%;
    }
}
@media(max-width:893px) {
    .tx-box {
        padding: 0 20% 0 15%;
    }
    .slide-bg {
        padding: 70px 0px 100px 0px;
    }
    .slider-bg {
        padding: 80px 0 13px;
    }
    .slider-tx h3 {
        margin-top: 25px;
    }
    .tx-img-bg {
        padding: 75px 0 0;
    }
    .footer-bg {
        padding-top: 80px;
        padding-bottom: 80px;
    }
}
@media(max-width:768px) {
    .slide-bg {
        padding: 60px 0px 60px 0px;
    }
    .slide-tx h2 {
        font-size: 40px;
        line-height: 50px;
        padding-bottom: 15px;
    }
    .slider-tx p {
        padding: 0 10%;
    }
    /* tx&pic */
    .tx-img-bg .col-6 {
        width: 100%;
    }
    .tx-box {
        padding: 0 30% 0 5%;
    }
    .tx-box h3 {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 5px;
        padding-top: 55px;
    }
    .tx-box h5 {
        margin-bottom: 15px;
    }
    .tx-box .btn {
        margin-bottom: 55px;
    }
    .tx-img-bg {
        padding: 35px 0 0;
    }
    .tx-img1 {
        height: 500px;
    }
    .tx-box .btn1 {
        margin-bottom: 80px;
    }
    /* ftr */
    .footer-bg {
        padding-top: 65px;
        padding-bottom: 55px;
    }
    /* side-menu */
    .inner p {
        padding: 20px 80px 0px;
    }
}
@media(max-width:715px) {
    .slide-tx h2 {
        padding-right: 90px;
        font-size: 37px;
        line-height: 45px;
        padding-bottom: 12px;
    }
    .home-img {
        height: 460px;
    }
    .slider-tx p {
        font-size: 17px;
        line-height: 25px;
        margin-top: 12px;

    }
}
@media(max-width:680px) {
    .all-tx h3 {
        font-size: 31px;
        line-height: 40px;
        margin-bottom: 12px;
    } 
    /* ftr */
    .footer-bg .col-3 {
        width: 51%;
        padding-top: 20px;
    }
    /* side-menu */
    .inner p {
        padding: 15px 60px 0px;
    }
}
@media(max-width:576px) {
    .slide-tx h2 {
        padding-right: 61px;
        font-size: 30px;
        line-height: 40px;
        padding-bottom: 5px;
    }
    .home-img {
        background-position: center;
    }
    .carousel-control-next {
        right: -14px;
    }
    .carousel-control-prev {
        left: -14px;
    }
    .about-tx h4 {
        font-size: 17px;
        line-height: 26px;
        margin-bottom: 10px;
    }
    .about-tx h5 {
        font-size: 14px;
        line-height: 22px;
    }
    /* ftr */
    .f-tx2 h5 {
        line-height: 25px;
    }

    .footer-bg .col-6 {
        width: 100%;
    }

    .footer-bg .col-3 {
        padding-top: 30px;
    }

    .f-tx1 p {
        padding-right: 0%;
    }

    /* side-menu */
    .inner p {
        padding: 10px 40px 0px;
    }
}
@media(max-width:460px) {
    .about-tx h3 {
        font-size: 37px;
        line-height: 46px;
        margin-bottom: 13px;
    }    
    .slide-tx h2 {
        padding-right: 25px;
        font-size: 25px;
        line-height: 34px;
    }
    .home-img {
        height: 330px;
    }
    /* tx&pic */
    .tx-box h3 {
        font-size: 25px;
        line-height: 35px;
    }
    .tx-box h5 {
        font-size: 15px;
        line-height: 22px;
    }
    .tx-img1 {
        height: 400px;
    }
    /* slider */
    .slider-bg {
        padding: 60px 0 13px;
    }
    .slider-tx h3 {
        margin-top: 12px;
        font-size: 35px;
        line-height: 43px;
    }
    .slider-tx p {
        padding: 0 5%;
        font-size: 15px;
        line-height: 22px;
    }
    .slider-tx h5 {
        margin-top: 30px;
    }
    /* side-menu */
    .i-con {
        justify-content: center;
        padding: 36px 0 0 0;
    }
    .side-menu {
        width: 100%;
    }
}
@media(max-width:320px) {
    .slide-tx h6 {
        line-height: 20px;
        letter-spacing: 2px;
    }
    .slide-tx h2 {
        padding-right: 0px;
        font-size: 22px;
        line-height: 28px;
    }
    .slide-bg {
        padding: 45px 0px 60px 0px;
    }
    /* tx&pic */
    .tx-box h3 {
        padding-top: 50px;
        font-size: 22px;
        line-height: 30px;
    }
    .tx-box {
        padding: 0 5% 0 5%;
    }
    .tx-img1 {
        height: 280px;
    }
    /* slider */
    .slider-bg {
        padding: 45px 0 13px;
    }
    .slider-tx h3 {
        margin-top: 8px;
        font-size: 32px;
        line-height: 40px;
    }
    .slider-tx h3 {
        margin-top: 8px;
        font-size: 32px;
        line-height: 40px;
    }
    .f-tx1 p {
        margin-top: 12px;
        font-size: 15px;
        line-height: 22px;
    }
}